root = true

############################
# Общие правила для всех файлов
############################
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 2

############################
# YAML
############################
[*.yml]
indent_style = space  # YAML требует пробелы

############################
# Markdown
############################
[*.md]
trim_trailing_whitespace = false  # сохраняем пробелы для разметки

############################
# Текстовые файлы и wp-config-sample.php
############################
[{*.txt,wp-config-sample.php}]
end_of_line = crlf  # Windows-стиль
