# ========================================
# System and IDE
# ========================================
.DS_Store
Thumbs.db
*.log
*.tmp
.idea/
.vscode/

# ========================================
# WordPress
# ========================================
www/core/
www/uploads/
www/plugins/

# Themes (ignore all except MORPH)
www/themes/*
!www/themes/morph/

# ========================================
# Theme
# ========================================
www/themes/morph/assets/
www/themes/morph/node_modules/

# ========================================
# Composer
# ========================================
vendor/
composer.lock
auth.json
