@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/focus-visible" as *;
@use "../abstracts/mixins/transition" as *;

/* ======================================================
  1.0 BASE STYLES
====================================================== */

/* 1.1 ACCORDION
/––––––––––––––––––––––––------------ */
.accordion {
}

/* 1.2 ACCORDION ITEM
/––––––––––––––––––––––––------------ */
.accordion__item {
	overflow: hidden;
	border-color: get-token("color", "border", "neutral", 2);
	border-style: solid;
	border-width: 0 0 get-token("border-width", "default");
}

/* 1.3 ACCORDION TRIGGER
/––––––––––––––––––––––––------------ */
.accordion__item-trigger {
	display: flex;
	gap: get-token("space", 16);
	justify-content: space-between;
	inline-size: 100%;
	padding-block: get-token("space", 16);
	font-size: get-token("font-size", "md");
	font-weight: get-token("font-weight", "medium");
	line-height: get-token("leading", "sm");
	cursor: pointer;
	background-color: transparent;
	border: 0;

	// Focus state
	&:focus-visible {
		@include focus-visible;
	}
}

.accordion__item-icon {
	@include transition(transform, 200, "prod-standard");

	// Expanded state
	.accordion__item-trigger[aria-expanded="true"] & {
		transform: rotate(90deg);
	}
}

/* 1.4 ACCORDION CONTENT
/––––––––––––––––––––––––------------ */
.accordion__item-content {
	padding-block-start: 0;
	padding-block-end: get-token("space", 16);
	overflow: hidden;
	animation: accordion-slide-down get-token("animation-duration", 200)
		get-token("animation-easing", "prod-standard");
}

/* ======================================================
  2.0 ANIMATION
====================================================== */
@keyframes accordion-slide-down {
	from {
		opacity: 0;
		transform: translateY(-8px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
