@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/focus-visible" as *;
@use "../abstracts/mixins/transition" as *;

/* ======================================================
Table of Contents
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	1.0 BASE STYLES
	2.0 SIZE VARIANTS
	3.0 TYPE VARIANTS
	4.0 STYLE VARIANTS
====================================================== */

/* ======================================================
  1.0 BASE STYLES
====================================================== */

/* 1.1 BUTTON
/––––––––––––––––––––––––------------ */
.btn {
	--btn-block-size: #{get-token("control-size", "md")};
	--btn-inline-size: fit-content;
	--btn-fg-color: #{get-token("color", "foreground", "neutral", 1)};
	--btn-bg-color: #{get-token("color", "background", "neutral", 2, "rest")};
	--btn-border-color: #{get-token("color", "border", "neutral", 2)};

	display: flex;
	gap: get-token("space", 8);
	align-items: center;
	justify-content: center;
	inline-size: var(--btn-inline-size);
	block-size: var(--btn-block-size);
	padding-inline: get-token("space", 32);
	font-size: get-token("font-size", "md");
	font-weight: get-token("font-weight", "normal");
	line-height: get-token("leading", "none");
	color: var(--btn-fg-color);
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	background-color: var(--btn-bg-color);
	border-color: var(--btn-border-color);
	border-style: solid;
	border-width: get-token("border-width", "default");
	border-radius: get-token("border-radius", "sm");

	@include transition((background-color, border-color), 100, "prod-standard");

	&:disabled {
		--btn-fg-color: #{get-token("color", "foreground", "disabled")};
		--btn-bg-color: #{get-token("color", "background", "disabled")};
		--btn-border-color: #{get-token("color", "border", "disabled")};

		cursor: auto;
	}

	&:hover:not(:disabled) {
		--btn-bg-color: #{get-token("color", "background", "neutral", 2, "hover")};
	}

	// &:focus-visible:not(:disabled) {
	// 	@include focus-visible;
	// }

	// Adjust horizontal padding based on icon position
	&:has(.btn__icon + .btn__label) {
		padding-inline-start: get-token("space", 24);
		padding-inline-end: get-token("space", 32);
	}

	&:has(.btn__label + .btn__icon) {
		padding-inline-start: get-token("space", 32);
		padding-inline-end: get-token("space", 24);
	}
}

/* 1.2 BUTTON ICON
/––––––––––––––––––––––––------------ */
.btn__icon {
	--icon-size: #{get-token("icon-size", "md")};

	// Adjust icon vertical alignment when both icon and label are present
	.btn:has(.btn__icon):has(.btn__label) & {
		margin-block-start: calc(get-token("space", 2) * -1);
	}
}

/* 1.3 BUTTON LABEL
/––––––––––––––––––––––––------------ */
.btn__label {}

/* ======================================================
  2.0 SIZE VARIANTS
====================================================== */
.btn--sm {
	--btn-block-size: #{get-token("control-size", "sm")};
}

.btn--lg {
	--btn-block-size: #{get-token("control-size", "lg")};
}

/* ======================================================
  3.0 TYPE VARIANTS
====================================================== */
.btn--icon {
	--btn-inline-size: var(--btn-block-size);

	gap: 0;
	padding-inline: 0;
}

/* ======================================================
  4.0 STYLE VARIANTS
====================================================== */
.btn--primary {
	--btn-fg-color: #{get-token("color", "foreground", "on-emphasis")};
	--btn-bg-color: #{get-token("color", "background", "accent", 1, "rest")};
	--btn-border-color: var(--btn-bg-color);

	&:hover:not(:disabled) {
		--btn-bg-color: #{get-token("color", "background", "accent", 1, "hover")};
	}
}
