@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/focus-visible" as *;
@use "../abstracts/mixins/transition" as *;

/* ======================================================
  1.0 BASE STYLES
====================================================== */

/* 1.1 WRAPPER
/––––––––––––––––––––––––------------ */
.checkbox {
	position: relative;
	display: inline-flex;
	inline-size: fit-content;
}

/* 1.2 INPUT
/––––––––––––––––––––––––------------ */
.checkbox__input {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	box-sizing: border-box;
	inline-size: get-token("control-size", "sm");
	block-size: get-token("control-size", "sm");
	margin: 0;
	cursor: pointer;
	opacity: 0;

	// Focus state
	&:focus-visible {
		outline: 0;
	}

	// Disabled
	&:disabled {
		cursor: not-allowed;
	}
}

/* 1.3 CHECKBOX
/––––––––––––––––––––––––------------ */
.checkbox__box {
	position: relative;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	inline-size: 1.25rem;
	block-size: 1.25rem;
	margin: get-token("space", 6);
	overflow: hidden;
	pointer-events: none;
	background: transparent;
	border: get-token("border-width", "sm") solid get-token("color", "border", "neutral", 2);
	border-radius: get-token("border-radius", "xs");

	@include transition(all, 100, "prod-standard");

	// Focus
	.checkbox__input:focus-visible ~ & {
		@include focus-visible;
		@include focus-visible-emphasis;
	}

	// Checked
	.checkbox__input:checked ~ & {
		background-color: get-token("color", "background", "accent", 1, "rest");
		border-color: get-token("color", "border", "accent", 1);
	}

	// Disabled
	.checkbox__input:disabled ~ & {
		background-color: get-token("color", "background", "disabled");
		border-color: get-token("color", "border", "disabled");
	}
}

/* 1.4 ICON
/––––––––––––––––––––––––------------ */
.checkbox__icon {
	--icon-size: #{get-token("icon-size", "xs")};
	--icon-color: #{get-token("color", "foreground", "on-emphasis")};

	opacity: 0;
	transform: scale(0.8);

	@include transition((opacity, transform), 100, "prod-standard");

	// Checked
	.checkbox__input:checked ~ .checkbox__box & {
		opacity: 1;
		transform: scale(1);
	}
}

/* 1.5 LABEL
/––––––––––––––––––––––––------------ */
.checkbox__label {
	padding-block: get-token("space", 8);
	padding-inline-start: get-token("space", 4);
	padding-inline-end: get-token("space", 6);
	font-size: get-token("font-size", "md");
	line-height: get-token("leading", "none");
	color: get-token("color", "foreground", "neutral", 1);
	cursor: pointer;

	// Disabled
	.checkbox__input:disabled ~ & {
		color: get-token("color", "foreground", "disabled");
		cursor: not-allowed;
	}
}
