@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/breakpoint" as *;
@use "../abstracts/mixins/transition" as *;

/* ======================================================
Table of Contents
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	1.0 BASE STYLES
====================================================== */

/* ======================================================
  1.0 BASE STYLES
====================================================== */

/* 1.1 MODAL
/––––––––––––––––––––––––------------ */

.drawer {
	position: fixed;
	inset: 0;
	z-index: get-token("z-index", "global", "off-canvas");
	pointer-events: none;

	// Open state
	&[data-drawer-state="open"] {
		pointer-events: auto;
	}
}

/* 1.2 MODAL BACKDROP
/––––––––––––––––––––––––------------ */
.drawer__backdrop {
	position: absolute;
	inset: 0;
	background-color: get-token("color", "background", "backdrop");
	opacity: 0;
	backdrop-filter: blur(1px);

	@include transition(opacity, 200, "prod-standard");

	// Open state
	.drawer[data-drawer-state="open"] & {
		opacity: 1;
	}
}

/* 1.3 MODAL WRAPPER
/––––––––––––––––––––––––------------ */
.drawer__wrapper {
	position: absolute;
	inset-block: 0;
	inset-inline-start: 0;
	z-index: get-token("z-index", "local", "base");
	inline-size: 100%;
	max-inline-size: 85vw;
	padding: get-token("space", 16);
	overflow-y: auto;
	background-color: get-token("color", "background", "neutral", 1, "rest");
	box-shadow: get-token("shadow", "xl");
	transform: translateX(-100%);

	@include transition(transform, 300, "prod-standard");

	// Open state
	.drawer[data-drawer-state="open"] & {
		transform: translateX(0);
	}

	@include breakpoint("sm") {
		max-inline-size: get-token("max-width", "xs");
	}
}

/* 1.4 MODAL CLOSE
/––––––––––––––––––––––––------------ */
.drawer__close {
	position: absolute;
	inset-block-start: get-token("space", 8);
	inset-inline-end: get-token("space", 8);
}
