@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/transition" as *;

.dropdown {
	z-index: get-token("z-index", "global", "instant-interaction");
	visibility: hidden;
	max-inline-size: 16rem;
	padding: get-token("space", 8);
	background-color: get-token("color", "background", "neutral", 1, "rest");
	border-radius: get-token("border-radius", "sm");
	box-shadow: #{get-token("shadow", "md")};
	opacity: 0;

	@include transition((visibility, opacity), 100, "prod-standard");

	&[data-show] {
		visibility: visible;
		opacity: 1;
	}
}
