@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/focus-visible" as *;
@use "../abstracts/mixins/transition" as *;

/* ======================================================
  1.0 BASE STYLES
====================================================== */

/* 1.1 FORM
/––––––––––––––––––––––––------------ */
.form {}


/* 1.2 ACTIONS
/––––––––––––––––––––––––------------ */
.form__actions {
	display: flex;
	gap: get-token("space", 24);
}
