@use "../abstracts/functions/get-token" as *;
@use "../abstracts/tokens/sizes" as *;

/* ======================================================
  1.0 BASE STYLES
====================================================== */
.icon {
	display: block;
	width: var(--icon-size, 1em);
	height: var(--icon-size, 1em);
	line-height: get-token("leading", "none");
	fill: currentColor;
}

/* ======================================================
  2.0 SIZE VARIANTS
====================================================== */
@each $size, $value in $icon-sizes {
	.icon--#{$size} {
		--icon-size: #{$value};
	}
}
