@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/transition" as *;

/* ======================================================
Table of Contents
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	1.0 BASE STYLES
====================================================== */

/* ======================================================
  1.0 BASE STYLES
====================================================== */

/* 1.1 MODAL
/––––––––––––––––––––––––------------ */

.modal {
	position: fixed;
	inset: 0;
	z-index: get-token("z-index", "global", "modal");
	display: flex;
	align-items: center;
	justify-content: center;
	padding: get-token("space", 16);

	// Hidden state
	&[data-modal-state="hidden"] {
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
	}

	// Open state
	&[data-modal-state="open"] {
		visibility: visible;
		pointer-events: auto;
		opacity: 1;
	}
}

/* 1.2 MODAL BACKDROP
/––––––––––––––––––––––––------------ */
.modal__backdrop {
	position: absolute;
	inset: 0;
	background-color: get-token("color", "background", "backdrop");
	backdrop-filter: blur(1px);

	@include transition(transform, 200, "prod-standard");

	// Hidden state
	.modal[data-modal-state="hidden"] & {
		opacity: 0;
	}

	// Open state
	.modal[data-modal-state="open"] & {
		opacity: 1;
	}
}

/* 1.3 MODAL WRAPPER
/––––––––––––––––––––––––------------ */
.modal__wrapper {
	position: relative;
	z-index: get-token("z-index", "local", "base");
	inline-size: 100%;
	max-inline-size: get-token("max-width", "lg");
	max-block-size: calc(100vh - (2 * get-token("space", 16)));
	padding: get-token("space", 16);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: get-token("color", "background", "neutral", 1, "rest");
	border-radius: get-token("border-radius", "md");
	box-shadow: get-token("shadow", "xl");

	@include transition((transform, opacity), 200, "prod-standard");

	// Hidden state
	.modal[data-modal-state="hidden"] {
		opacity: 0;
		transform: scale(0.95);
	}

	// Open state
	.modal[data-modal-state="open"] {
		opacity: 1;
		transform: scale(1);
	}
}

/* 1.4 MODAL CLOSE
/––––––––––––––––––––––––------------ */
.modal__close {
	position: absolute;
	inset-block-start: get-token("space", 8);
	inset-inline-end: get-token("space", 8);
}
