@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/transition" as *;

/* ======================================================
  1.0 BASE STYLES
====================================================== */

/* 1.1 TABLE
/––––––––––––––––––––––––------------ */
table:not([class]),
.table {
	position: relative;
	inline-size: 100%;
	border-spacing: 0;
	border-collapse: separate;
	border: get-token("border-width", "default") solid get-token("color", "border", "neutral", 2);
	border-radius: get-token("border-radius", "md");
}

/* 1.2 TABLE HEADING & DATA
/––––––––––––––––––––––––------------ */
th {
	font-size: get-token("font-size", "md");
	font-weight: get-token("font-weight", "medium");
	background-color: get-token("color", "background", "neutral", 2, "rest");
}

th,
td {
	padding-block: get-token("space", 8);
	padding-inline: get-token("space", 16);
	text-align: start;
	border-block-end: get-token("border-width", "default") solid
		get-token("color", "border", "neutral", 2);
	border-inline-end: get-token("border-width", "default") solid
		get-token("color", "border", "neutral", 2);

	&:last-child {
		border-inline-end: 0;
	}
}

/* 1.3 BODY
/––––––––––––––––––––––––------------ */
tbody {
	tr {
		@include transition(background-color, 100, "prod-standard");

		&:hover {
			background-color: get-token("color", "background", "neutral", 1, "hover");
		}

		&:last-child :is(th, td) {
			border-block-end: 0;
		}
	}
}
