@use "../abstracts/functions/get-token" as *;

.table {
	position: relative;
	border-spacing: 0;
	border-collapse: collapse;

	:is(th, td) {
		padding-block: get-token("space", 8);
		padding-inline: get-token("space", 8);
		text-align: start;
	}
}

thead {
	border-block-end: get-token("border-width", "default") solid
		get-token("color", "border", "neutral", 1);

	th {
		font-size: get-token("font-size", "md");
	}
}

tbody {
	tr {
		border-block-end: get-token("border-width", "default") solid
			get-token("color", "border", "neutral", 1);
	}
}
