@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/focus-visible" as *;
@use "../abstracts/mixins/transition" as *;

/* ======================================================
Table of Contents
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	1.0 BASE STYLES
	2.0 SIZE VARIANTS
	3.0 TYPE VARIANTS
	4.0 STYLE VARIANTS
====================================================== */

/* ======================================================
  1.0 BASE STYLES
====================================================== */

/* 1.1 TAG
/––––––––––––––––––––––––------------ */
.tag {
	--tag-block-size: #{get-token("control-size", "xs")};
	--tag-inline-size: fit-content;
	--tag-fg-color: #{get-token("color", "foreground", "neutral", 2)};
	--tag-bg-color: transparent;
	--tag-border-color: #{get-token("color", "border", "neutral", 2)};

	display: flex;
	gap: get-token("space", 4);
	align-items: center;
	justify-content: center;
	inline-size: var(--tag-inline-size);
	block-size: var(--tag-block-size);
	padding-inline: get-token("space", 8);
	font-size: get-token("font-size", "sm");
	font-weight: get-token("font-weight", "normal");
	line-height: get-token("leading", "none");
	color: var(--tag-fg-color);
	text-decoration: none;
	cursor: auto;
	user-select: none;
	background-color: var(--tag-bg-color);
	border-color: var(--tag-border-color);
	border-style: solid;
	border-width: get-token("border-width", "default");
	border-radius: get-token("border-radius", "sm");

	@include transition((background-color, border-color), 100, "prod-standard");

	&[href] {
		cursor: pointer;
	}

	// Disabled state
	&[aria-disabled="true"] {
		--tag-fg-color: #{get-token("color", "foreground", "disabled")};
		--tag-bg-color: #{get-token("color", "background", "disabled")};
		--tag-border-color: #{get-token("color", "border", "disabled")};

		cursor: auto;
	}

	// Hover state
	&[href]:hover:not([aria-disabled="true"]) {
		--tag-bg-color: #{get-token("color", "background", "neutral", 1, "hover")};
	}

	// Focus state
	&:focus-visible {
		@include focus-visible;
	}
}

/* 1.2 ICON
/––––––––––––––––––––––––------------ */
.tag__icon {
	--icon-size: #{get-token("icon-size", "sm")};
}

/* 1.3 LABEL
/––––––––––––––––––––––––------------ */
.tag__label {
}
