@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/focus-visible" as *;
@use "../abstracts/mixins/transition" as *;

/* ======================================================
Table of Contents
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
	1.0 BASE STYLES
	2.0 SIZE VARIANTS
	3.0 TYPE VARIANTS
	4.0 STYLE VARIANTS
====================================================== */

/* ======================================================
  1.0 BASE STYLES
====================================================== */

/* 1.1 BUTTON
/––––––––––––––––––––––––------------ */
.tag {
	--tag-block-size: #{get-token("control-size", "sm")};
	--tag-inline-size: fit-content;
	--tag-fg-color: #{get-token("color", "foreground", "neutral", 1)};
	--tag-bg-color: #{get-token("color", "background", "neutral", 2, "rest")};
	--tag-border-color: #{get-token("color", "border", "neutral", 2)};

	display: flex;
	gap: get-token("space", 4);
	align-items: center;
	justify-content: center;
	inline-size: var(--tag-inline-size);
	block-size: var(--tag-block-size);
	padding-inline: get-token("space", 8);
	font-size: get-token("font-size", "sm");
	font-weight: get-token("font-weight", "normal");
	line-height: get-token("leading", "none");
	color: var(--tag-fg-color);
	text-decoration: none;
	cursor: auto;
	user-select: none;
	background-color: var(--tag-bg-color);
	border-color: var(--tag-border-color);
	border-style: solid;
	border-width: get-token("border-width", "default");
	border-radius: get-token("border-radius", "sm");

	@include transition((background-color, border-color), 100, "prod-standard");

	&:disabled {
		--tag-fg-color: #{get-token("color", "foreground", "disabled")};
		--tag-bg-color: #{get-token("color", "background", "disabled")};
		--tag-border-color: #{get-token("color", "border", "disabled")};

		cursor: auto;
	}

	&:has([href]) {
		cursor: pointer;
	}

	&:has([href]):hover:not(:disabled) {
		--tag-bg-color: #{get-token("color", "background", "neutral", 2, "hover")};
	}

	&:focus-visible:not(:disabled) {
		@include focus-visible;
	}
}

/* 1.2 BUTTON ICON
/––––––––––––––––––––––––------------ */
.tag__icon {
	--icon-size: #{get-token("icon-size", "md")};

	// Adjust icon vertical alignment when both icon and label are present
	.tag:has(.tag__icon):has(.tag__label) & {
		margin-block-start: calc(get-token("space", 2) * -1);
	}
}

/* 1.3 BUTTON LABEL
/––––––––––––––––––––––––------------ */
.tag__label {}

/* ======================================================
  2.0 SIZE VARIANTS
====================================================== */
.tag--sm {
	--tag-block-size: #{get-token("control-size", "xs")};
}

.tag--lg {
	--tag-block-size: #{get-token("control-size", "md")};
}

/* ======================================================
  3.0 TYPE VARIANTS
====================================================== */

/* ======================================================
  4.0 STYLE VARIANTS
====================================================== */
.tag--primary {
	--tag-fg-color: #{get-token("color", "foreground", "on-emphasis")};
	--tag-bg-color: #{get-token("color", "background", "accent", 1, "rest")};
	--tag-border-color: var(--tag-bg-color);

	&:has([href]):hover:not(:disabled) {
		--tag-bg-color: #{get-token("color", "background", "accent", 1, "hover")};
	}
}
