@use "../abstracts/functions/get-token" as *;
@use "../abstracts/mixins/transition" as *;

.tooltip {
	z-index: get-token("z-index", "global", "tooltip");
	display: block;
	visibility: hidden;
	padding-block: get-token("space", 4);
	padding-inline: get-token("space", 8);
	font-size: get-token("font-size", "sm");
	color: get-token("color", "foreground", "on-emphasis");
	background-color: get-token("color", "background", "inverted");
	border-radius: get-token("border-radius", "sm");
	opacity: 0;

	@include transition((visibility, opacity), 100, "prod-standard");

	// Open state
	&[data-show] {
		visibility: visible;
		opacity: 1;
	}
}
