/* ======================================================
  1.0 LAYOUT
====================================================== */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	text-size-adjust: none;
}

html,
body {
	overflow-x: hidden;
}

/* ======================================================
  2.0 TYPOGRAPHY
====================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
	overflow-wrap: break-word;
}

ul[class],
ol[class] {
	list-style: none;
}

/* ======================================================
  3.0 MEDIA
====================================================== */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	max-inline-size: 100%;
}

img,
picture,
video,
canvas,
svg {
	inline-size: 100%;
	block-size: auto;
	vertical-align: middle;
}

/* ======================================================
  4.0 CONTROLS
====================================================== */
input,
button,
textarea,
select {
	font: inherit;
	color: inherit;
}

button {
	cursor: pointer;
	background: none;
	border: none;
}

input[type="number"] {
	-moz-appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		margin: 0;
		-webkit-appearance: none;
	}
}

textarea:not([rows]) {
	min-block-size: 10em;
	resize: vertical;
}

/* ======================================================
  5.0 MISC.
====================================================== */
:target {
	scroll-margin-block-start: 5ex;
}

[tabindex="-1"]:focus {
	outline: none;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		transition-delay: 0ms !important;
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}
