@use "../abstracts/functions/get-token" as *;

.cluster {
	--cluster-gap: #{get-token("space", 16)};

	display: flex;
	flex-direction: row;
	flex-wrap: var(--cluster-wrap, wrap);
	gap: var(--cluster-gap, 1rem);
	align-items: var(--cluster-align, center);
	justify-content: var(--cluster-justify, start);
}
