@use "../abstracts/functions/get-token" as *;

.stack {
	--stack-space: #{get-token("space", 16)};

	display: flex;
	flex-direction: column;

	> * {
		margin-block: 0;
	}

	> * + * {
		/// --stack-item-space allows individual elements to override spacing
		/// Falls back to --stack-space (container-level) if not set
		margin-block-start: var(--stack-item-space, var(--stack-space, 1rem));
	}
}
